[Unit]
Description=smartdns server
After=network.target
StartLimitBurst=0
StartLimitIntervalSec=60
TimeoutStopSec=5

[Service]
Type=forking
PIDFile=/var/run/smartdns.pid
ExecStart=/opt/smartdns/smartdns -p /var/run/smartdns.pid -c /opt/smartdns/my.conf
KillMode=process
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
Alias=smartdns.service
