name: build

on:
  push:
    branches: [master]
  #release:
    #types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: |
          # upx 3.95 for mips wait for 4.0 fix https://github.com/upx/upx/issues/342
          sudo apt-get update
          sudo apt-get install -y upx
          sudo rm -rf /usr/bin/go*
          sudo rm -rf /usr/local/go
          wget https://dl.google.com/go/go1.16.2.linux-amd64.tar.gz -O go.tar.gz
          sudo tar -C /usr/local -xzf go.tar.gz
          wget https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz
          tar xf upx-3.96-amd64_linux.tar.xz
          mv upx-3.96-amd64_linux/upx .
          rm -rf upx-3.96-amd64_linux*
      - name: build
        run: |
          mkdir tmp
          mkdir bin
          # Do not use "--depth=1" due to tags
          git clone https://github.com/v2fly/v2ray-core.git
          cd v2ray-core
          git checkout tags/v4.36.2
          cd ..
          sed -i 's/^\t_ "v2ray.com\/core\/main\/json"/\t\/\/ _ "v2ray.com\/core\/main\/json"/' v2ray-core/main/distro/all/all.go
          sed -i 's/^\t\/\/ _ "v2ray.com\/core\/main\/jsonem"/\t_ "v2ray.com\/core\/main\/jsonem"/' v2ray-core/main/distro/all/all.go
          wget https://raw.githubusercontent.com/felix-fly/v2ray-openwrt/master/build.sh
          chmod +x ./build.sh
          ./build.sh android arm64
          ./build.sh darwin amd64
          ./build.sh linux 386
          ./build.sh linux amd64
          ./build.sh linux armv5
          ./build.sh linux armv6
          ./build.sh linux armv7
          ./build.sh linux arm64
          ./build.sh linux mips
          ./build.sh linux mipsle
          ./build.sh linux mips64
          ./build.sh linux mips64le
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: build
          path: bin
